/*paleta de cores do projeto*/
:root {
	--color1:#fdf4b0;
	--color2:#a4dcb9;
	--color3:#5bcebf;
	--color4:#32b9be;
	--color5:#2e97b7;
	--color6:#fff;
}

*{
	margin: 0;
	padding: 0;
	font-family: system-ui;
}

main{
	height: 80vh;
}
