/*paleta de cores do projeto*/
:root {
	--color1:#fdf4b0;
	--color2:#a4dcb9;
	--color3:#5bcebf;
	--color4:#32b9be;
	--color5:#2e97b7;
	--color6:#fff;
	--size: 16rem;
}

html, body{
	margin: 0;
	padding: 0;
	font-family: system-ui;
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
	text-align: center;
}

li{
    list-style: none;
}

#container_infos_card{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	align-items: center;
	justify-items: center;
    justify-content: center;
	
	
}
.card-container{
    width: 20rem;
    height: 22rem;
    overflow: hidden;
    border-radius: 5%;
    border-left: 3px solid var(--color2);
    box-shadow: 1px 2px 5px var(--color3);
    margin-bottom: 1rem;
}
.card-container img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
.card-container img:hover{
    scale: 1.1;
    transition: 0.7s;
}

#row1, #row2{
	width: 100%;
	margin: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.card-content{
	margin-bottom: 1rem;
	padding: 1rem;
    overflow: hidden;
}


.bold{
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	#container_infos_card{
		grid-template-columns: repeat(1, 1fr);
	}
}
