/*paleta de cores do projeto*/
:root {
	--color1:#fdf4b0;
	--color2:#a4dcb9;
	--color3:#5bcebf;
	--color4:#32b9be;
	-color5:#2e97b7;
	--color6:#fff;
}
#footer_content{
	align-content: center;
	align-items:center;
	justify-content: center;
	background-color: var(--color1);
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


#footer_social_media{
	display: flex;
	gap: 15px;
}

#footer_social_media .footer_link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color6);
	border-radius: 50%;
	text-decoration: none;
}

#footer_social_media .footer_link:hover{
	opacity: 0.8;
	scale: 1.1;
	transition: 0.5s;
}

#instagram{
	background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}

#linkedin{
	background-color: #0e76a8;
}

#github{
	background-color: #808080;
}

#input_group{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--color6);
	border-radius: 4px;
	padding-left: 0.5rem;
	width: 100%;
	
}
#input_group input{
	width: 100%;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	background: none;
	border: none;
}
#email_submit_button{
	height:100%;
	background: var(--color4);
	padding-top: 0.23rem;
	padding-bottom: 0.23rem;
	padding-left: 0.50rem;
	padding-right: 0.50rem;
	margin-left: 0.23rem;
	border: 1px solid transparent;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

#email_submit_button:hover{
	transition: 0.7s;
	background: var(--color2);
}

#footer_copyright{
	font-weight: bold;
	justify-content: center;
	align-items:center;
	text-align: center;
	background: linear-gradient(var(--color4), var(--color2));
}

@media screen and (max-width: 768px){
	#footer_content{
		grid-template-columns: repeat(1, 1fr);
	}
}